<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Social.com Coding Task</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" media="screen" />
</head>
<body>
    <div id="wrapper" class="container">
        <ul id="tweets" class="nav nav-list">
            <li class="nav-header">Please wait...</li>
            <li class="loader">
                <span></span>
                <span></span>
                <span></span>
            </li>
        </ul>
        <div class="clearfix">
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="/script.js"></script>
</body>
</html>
